---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
  <div class="*:mb-4">
    <h1 class="text-6xl font-bold">404 - Page not found</h1>
    <p class="max-w-[65ch] text-pretty text-2xl">
      That page wasn't found, make sure the path is correct.
    </p>
    <p class="max-w-[65ch] text-pretty">
      If you think the path should work (like when it's linked somewhere in the
      docs) open a github issue.
    </p>
  </div>
</Layout>
